<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kakyunglee.smokingproject">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.activity.NoticeListActivity" />
        <activity android:name=".activity.activity.LawListActivity" />
        <activity android:name=".activity.activity.QuestionActivity" />
        <activity android:name=".activity.activity.ReportDetailActivity" />
        <activity android:name=".activity.activity.AppInfoActivity" />
        <activity android:name=".activity.activity.LawDetailActivity" />
        <activity android:name=".activity.activity.LawSubListActivity" />
        <activity android:name=".activity.activity.NoticeDetailActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKf1Hr1nwG9-q_BnO6oVBj40cr5aay_0Q"/>

    </application>

</manifest>